* {
    margin: 0px;
}


header {
    display: flex;
    background: rgb(70, 70, 70);
    justify-content: space-between;
    align-items: flex-end;
    height: 75px;
}

header h1 {
    display: flex;
    padding-left: 30px;
    margin-bottom: 10px;
    padding-right: 10px;
    background-color: turquoise;
    color: rgb(70, 70, 70);
}

nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    align-items: flex-end;
    color: white;
    margin: 10px;
}

a {
    color: white;
    justify-content: space-between;
}

.image {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background: url("Mountain-Image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
}

.imageText {
    background-color: turquoise;
    padding: 10px;
    width: 200px;
    height: 20px;
    font-size: 20px;
    color: rgb(70, 70, 70);
}


/* Using instructor example */
.mainSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    min-height: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
/* These settings are for the left column of the main section */
.leftColumn {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex: .5;
    border-right: 3px solid turquoise;
    padding-right: 10px;
}

/* Setting how the right column in the main seciton should be set up */
.rightColumn {
    display: flex;
    flex: 0 0 75%;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Settings specific for the contact list */
.contactList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
}


/* section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    align-items: flex-end;
} */

/* @media screen and (max-width: 768px) {
    .p {
      flex-direction: column;
    }
  } */