/* removing the margin for the entire page unless otherwise set */
* {
    margin: 0px;
}

/* header settings */
header {
    display: flex;
    background: rgb(70, 70, 70);
    justify-content: space-between;
    align-items: flex-end;
    height: 75px;
}

/* title settings */
header h1 {
    display: flex;
    padding-left: 30px;
    margin-bottom: 10px;
    padding-right: 10px;
    background-color: turquoise;
    color: rgb(70, 70, 70);
}

/* overall settings for the nav bar */
nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    align-items: flex-end;
    color: white;
    margin: 10px;
}

/* links for the nav bar */
a {
    color: white;
    justify-content: space-between;
}

/* settings for the hero image */
.image {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background: url("Mountain-Image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
}

/* Getting the text to overlay the hero image */
.imageText {
    background-color: turquoise;
    padding: 10px;
    width: 200px;
    height: 20px;
    font-size: 20px;
    color: rgb(70, 70, 70);
}


/* Using instructor example */
.mainSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    min-height: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
/* These settings are for the left column of the main section */
.leftColumn {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex: .5;
    border-right: 3px solid turquoise;
    padding-right: 10px;
}

/* Setting how the right column in the main seciton should be set up */
.rightColumn {
    display: flex;
    flex: 0 0 75%;
    justify-content: flex-start;
    align-items: flex-start;
}

/* column settings */
.rightColumnTiles {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 75%;
}

/* Tiles to link to my work. make opacity 75% to start.
On hover make clear */
.workTiles1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("MyMDb.png");
    background-size: contain;
    height: 150px;
    width: 225px;
    border: 2px solid turquoise;
    margin: 10px;
    /* opacity: 75%; */
}

.workTiles2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("Planner.png");
    background-size: contain;
    height: 150px;
    width: 225px;
    border: 2px solid turquoise;
    margin: 10px;
    /* opacity: 75%; */
}

.workTiles3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("Quiz.png");
    background-size: contain;
    height: 150px;
    width: 225px;
    border: 2px solid turquoise;
    margin: 10px;
    /* opacity: 75%; */
}

/* Specific to the large tile image */
.workTilesLarge {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    background-image: url("Screen\ Shot\ 2022-04-16\ at\ 9.37.08\ AM.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    border: 2px solid turquoise;
    margin: 10px;
    /* opacity: 90%; */
    font-size: 30px;
}

.tileText {
    color: black;
    background-color: turquoise;
    border-radius: 3px;
    padding: 2px
}

/* Adding a hover feature that changes the opacity */
.workTiles1:hover {
    opacity: 100%;
}

.workTilesLarge:hover {
    opacity: 100%;
}


/* Settings specific for the contact list */
.contactList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
    margin-right: 10px;
}

/* Settings for the contact list elements in order to space them out evenly */
.contactList a {
    display: block;
    color: black;
}

@media screen and (max-width: 768px) {
    .workTilesLarge {
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        width: 100%;
        font-size: 15px;
    }
  }