* {
    margin: 0px;
}


header {
    display: flex;
    background: rgb(70, 70, 70);
    justify-content: space-between;
    align-items: flex-end;
    height: 75px;
}

header h1 {
    display: flex;
    padding-left: 30px;
    margin-bottom: 10px;
    padding-right: 10px;
    background-color: turquoise;
    color: rgb(70, 70, 70);
}

nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: end;
    align-items: flex-end;
    color: white;
    margin: 10px;
}

a {
    color: white;
    justify-content: space-between;
}

.image {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background: url("Mountain-Image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
}

.imageText {
    background-color: turquoise;
    padding: 10px;
    width: 200px;
    height: 20px;
    font-size: 20px;
    color: rgb(70, 70, 70);
}


/* Using instructor example */
.mainSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    min-height: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
/* These settings are for the left column of the main section */
.leftColumn {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    flex: .5;
    border-right: 3px solid turquoise;
    padding-right: 10px;
}

/* Setting how the right column in the main seciton should be set up */
.rightColumn {
    display: flex;
    flex: 0 0 75%;
    justify-content: flex-start;
    align-items: flex-start;
}

.rightColumnTiles {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 75%;
}

/* Tiles to link to my work. make opacity 50% to start.
On hover make clear */
.workTiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url("https://cms-assets.themuse.com/media/lead/01212022-1047259374-coding-classes_scanrail.jpg");
    background-size: contain;
    height: 150px;
    width: 225px;
    border: 2px solid turquoise;
    margin: 10px;
    opacity: 75%;
}

.workTilesLarge {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    background-image: url("https://cms-assets.themuse.com/media/lead/01212022-1047259374-coding-classes_scanrail.jpg");
    background-size: contain;
    height: 400px;
    width: 100%;
    border: 2px solid turquoise;
    margin: 10px;
    opacity: 90%;
    font-size: 30px;
}

.workTiles:hover {
    opacity: 100%;
}

.workTilesLarge:hover {
    opacity: 100%;
}


/* Settings specific for the contact list */
.contactList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
    margin-right: 10px;
}

.contactList a {
    display: block;
    color: black;
}

#about-me {};
#work {};
#contact-me {};


/* @media screen and (max-width: 768px) {
    .p {
      flex-direction: column;
    }
  } */